body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 700px;
  margin: auto;
}
button:active {
  transform: scale(0.98);
  transform: translate3D(5px, 5px, 5px);
  box-shadow: none;
}
button {
  width: 64px;
  height: 64px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #efefef;
  background: linear-gradient(105deg, #888, #898989, #999 75%, #ccc);
  box-shadow: 3px 3px #555, 6px 6px 12px #111;
}
header {
  z-index: 1;
  width: 93%;
  left: -20px;
  color: #efefef;
  position: relative;
  background: #111;
  border-radius: 6px;
  padding: 25px 40px;
  box-shadow: 10px -5px 1px #222;
}
main {
  gap: 2em;
  display: flex;
  border-radius: 3px;
  transform: scale(1.05);
  justify-content: center;
  box-shadow: 9px 0 1px #333;
  padding: 30px 0px 80px 0px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: linear-gradient(#444 90%, #333);
}
input[type='checkbox'] {
  width: 50px;
  cursor: pointer;
}
@font-face {
  font-family: calc;
  src: url(Calculator.ttf);
}
#calculator {
  margin-top: 20%;
  transform: rotate3d(3, -3, 3, 25deg);
}
#display {
  color: #111 !important;
  font-family: calc;
  flex: 1;
  overflow: hidden;
  height: 80px;
}
#display_mode {
  font-size: 24px;
}
#display_top {
  font-family: calc;
  background: #323;
  width: 160px;
  height: 40px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#number {
  margin: auto;
}
#operator {
  margin: auto;
}

.checkbox {
  width: 80%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  margin-bottom: 10px;
  background: #777777;
  border: 3px double #676767;
  box-shadow: -3px -3px 1px #111;
  justify-content: space-evenly;
}
.dark {
  background: linear-gradient(105deg, #222, #262626, #333 75%, #888);
  box-shadow: 3px 3px #111, 6px 6px 12px #111;
}
.flat {
  margin-bottom: 12px;
}
.flat button {
  height: 32px;
  margin-bottom: 1em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
.grid-right {
  grid-template-columns: repeat(3, 1fr);
}

.header-bot {
  padding: 5px;
  display: flex;
  color: #111 !important;
  font-size: 75px;
  font-weight: 700;
  background: #ada;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top span {
 display: flex;
 align-items: center;
 gap: 1em; 
}
.plus {
  height: 250%;
}
.red {
  background: #f85;
}
/* js */

.off {
  position: relative;
  z-index: 2;
  transition: 1s ease-in;
  background: #121;
}
#ac {
  position: absolute;
  top: -20%;
  right: 0%;
  transition: 1s ease-out;
}
#ac.on {
  transform: translateY(100%);
}